In [134]:
## Import Libraries
# In Python, 3 environment comes with many helpful analytics libraries installed

import numpy as np        # linear algebra
import os                 # accessing directory structure
import pandas as pd       # data processing, CSV file I/O (e.g. pd.read_csv)

# Pandas uses the plot() method to create diagrams.
# Pythons uses Pyplot, a submodule of the Matplotlib library to visualize the diagram on the screen.
# Matplotlib is a low level graph plotting library in python that serves as a visualization utility
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [135]:
# Changing current working dir(cwd)

os.chdir("C:/Users/Himanshu Gulati/HG Program Data/Data Camp/EDA")
print(os.getcwd())

C:\Users\Himanshu Gulati\HG Program Data\Data Camp\EDA

In [136]:
# Extracting a zip file

from zipfile import * 
file= "C:/Users/Himanshu Gulati/HG Program Data/Data Camp/EDA/Edstats_csv.zip"
with ZipFile(file, 'r') as zip:
    zip.printdir()
    print('all files are extract now.....')
    zip.extractall()

File Name                                             Modified             Size
edstats-csv-zip-32-mb-/EdStatsCountry-Series.csv 2019-11-02 00:55:46        48961
edstats-csv-zip-32-mb-/EdStatsCountry.csv      2019-11-02 00:55:46       139508
edstats-csv-zip-32-mb-/EdStatsData.csv         2019-11-02 00:56:00    326426040
edstats-csv-zip-32-mb-/EdStatsFootNote.csv     2019-11-02 00:56:18     39711615
edstats-csv-zip-32-mb-/EdStatsSeries.csv       2019-11-02 00:56:20      3706781
edstats-excel-zip-72-mb-/EdStatsEXCEL.xlsx     2019-11-02 00:56:20     39984615
all files are extract now.....

In [137]:
## Reading EdStatsSeries.csv file

In [138]:
df_series = pd.read_csv(r"C:/Users/Himanshu Gulati/HG Program Data/Data Camp/EDA/edstats-csv-zip-32-mb-/EdStatsSeries.csv")
df_series

,Series Code,Topic,Indicator Name,Short definition,Long definition,Unit of measure,Periodicity,Base Period,Other notes,Aggregation method,...,Notes from original source,General comments,Source,Statistical concept and methodology,Development relevance,Related source links,Other web links,Related indicators,License Type,Unnamed: 20
0,BAR.NOED.1519.FE.ZS,Attainment,Barro-Lee: Percentage of female population age...,Percentage of female population age 15-19 with...,Percentage of female population age 15-19 with...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Robert J. Barro and Jong-Wha Lee: http://www.b...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BAR.NOED.1519.ZS,Attainment,Barro-Lee: Percentage of population age 15-19 ...,Percentage of population age 15-19 with no edu...,Percentage of population age 15-19 with no edu...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Robert J. Barro and Jong-Wha Lee: http://www.b...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BAR.NOED.15UP.FE.ZS,Attainment,Barro-Lee: Percentage of female population age...,Percentage of female population age 15+ with n...,Percentage of female population age 15+ with n...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Robert J. Barro and Jong-Wha Lee: http://www.b...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BAR.NOED.15UP.ZS,Attainment,Barro-Lee: Percentage of population age 15+ wi...,Percentage of population age 15+ with no educa...,Percentage of population age 15+ with no educa...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Robert J. Barro and Jong-Wha Lee: http://www.b...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,BAR.NOED.2024.FE.ZS,Attainment,Barro-Lee: Percentage of female population age...,Percentage of female population age 20-24 with...,Percentage of female population age 20-24 with...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Robert J. Barro and Jong-Wha Lee: http://www.b...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3660,UIS.XUNIT.USCONST.3.FSGOV,Expenditures,Government expenditure per upper secondary stu...,NaN,"Average total (current, capital and transfers)...",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,UNESCO Institute for Statistics,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3661,UIS.XUNIT.USCONST.4.FSGOV,Expenditures,Government expenditure per post-secondary non-...,NaN,"Average total (current, capital and transfers)...",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,UNESCO Institute for Statistics,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3662,UIS.XUNIT.USCONST.56.FSGOV,Expenditures,Government expenditure per tertiary student (c...,NaN,"Average total (current, capital and transfers)...",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,UNESCO Institute for Statistics,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3663,XGDP.23.FSGOV.FDINSTADM.FFD,Expenditures,Government expenditure in secondary institutio...,"Total general (local, regional and central) go...","Total general (local, regional and central) go...",NaN,NaN,NaN,Secondary,NaN,...,NaN,NaN,UNESCO Institute for Statistics,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3664,XGDP.56.FSGOV.FDINSTADM.FFD,Expenditures,Government expenditure in tertiary institution...,"Total general (local, regional and central) go...","Total general (local, regional and central) go...",NaN,NaN,NaN,Tertiary,NaN,...,NaN,NaN,UNESCO Institute for Statistics,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [139]:
### Finding the null values

In [140]:
df_series.isnull().sum()

Series Code                               0
Topic                                     0
Indicator Name                            0
Short definition                       1509
Long definition                           0
Unit of measure                        3665
Periodicity                            3566
Base Period                            3351
Other notes                            3113
Aggregation method                     3618
Limitations and exceptions             3651
Notes from original source             3665
General comments                       3651
Source                                    0
Statistical concept and methodology    3642
Development relevance                  3662
Related source links                   3450
Other web links                        3665
Related indicators                     3665
License Type                           3665
Unnamed: 20                            3665
dtype: int64

In [141]:
# DataFrame stores the number of rows and columns as a tuple (number of rows, number of columns)

df_series.shape

(3665, 21)

In [142]:
#  drop_duplicates() method helps in removing duplicates from the data frame.
df_series.drop_duplicates()
df_series.shape

(3665, 21)

In [143]:
### Drop un-necessary columns

In [144]:
df_series.drop(['Unit of measure', 'Periodicity', 'Base Period', 'Other notes', 'Aggregation method', 'Limitations and exceptions', 'Notes from original source', 'General comments', 'Other web links', 'Statistical concept and methodology', 'Development relevance', 'Related indicators', 'License Type', 'Unnamed: 20', 'Related source links'], axis=1, inplace=True)

# The head() method returns the headers and a specified number of rows, starting from the top.
df_series.head()

,Series Code,Topic,Indicator Name,Short definition,Long definition,Source
0,BAR.NOED.1519.FE.ZS,Attainment,Barro-Lee: Percentage of female population age...,Percentage of female population age 15-19 with...,Percentage of female population age 15-19 with...,Robert J. Barro and Jong-Wha Lee: http://www.b...
1,BAR.NOED.1519.ZS,Attainment,Barro-Lee: Percentage of population age 15-19 ...,Percentage of population age 15-19 with no edu...,Percentage of population age 15-19 with no edu...,Robert J. Barro and Jong-Wha Lee: http://www.b...
2,BAR.NOED.15UP.FE.ZS,Attainment,Barro-Lee: Percentage of female population age...,Percentage of female population age 15+ with n...,Percentage of female population age 15+ with n...,Robert J. Barro and Jong-Wha Lee: http://www.b...
3,BAR.NOED.15UP.ZS,Attainment,Barro-Lee: Percentage of population age 15+ wi...,Percentage of population age 15+ with no educa...,Percentage of population age 15+ with no educa...,Robert J. Barro and Jong-Wha Lee: http://www.b...
4,BAR.NOED.2024.FE.ZS,Attainment,Barro-Lee: Percentage of female population age...,Percentage of female population age 20-24 with...,Percentage of female population age 20-24 with...,Robert J. Barro and Jong-Wha Lee: http://www.b...

In [145]:
df_series.dropna(inplace=True)

In [146]:
df_series.shape

(2156, 6)

In [147]:
df_series.columns

Index(['Series Code', 'Topic', 'Indicator Name', 'Short definition',
       'Long definition', 'Source'],
      dtype='object')

In [148]:
# info() - gives you more information about the data set.

# And the name of each column, with the data type

df_series.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2156 entries, 0 to 3664
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Series Code       2156 non-null   object
 1   Topic             2156 non-null   object
 2   Indicator Name    2156 non-null   object
 3   Short definition  2156 non-null   object
 4   Long definition   2156 non-null   object
 5   Source            2156 non-null   object
dtypes: object(6)
memory usage: 67.4+ KB

In [149]:
## Reading EdStatsCountry.csv file

In [150]:
df_country = pd.read_csv(r"C:/Users/Himanshu Gulati/HG Program Data/Data Camp/EDA/edstats-csv-zip-32-mb-/EdStatsCountry.csv")
df_country

,Country Code,Short Name,Table Name,Long Name,2-alpha code,Currency Unit,Special Notes,Region,Income Group,WB-2 code,...,IMF data dissemination standard,Latest population census,Latest household survey,Source of most recent Income and expenditure data,Vital registration complete,Latest agricultural census,Latest industrial data,Latest trade data,Latest water withdrawal data,Unnamed: 31
0,ABW,Aruba,Aruba,Aruba,AW,Aruban florin,SNA data for 2000-2011 are updated from offici...,Latin America & Caribbean,High income: nonOECD,AW,...,NaN,2010,NaN,NaN,Yes,NaN,NaN,2012.0,NaN,NaN
1,AFG,Afghanistan,Afghanistan,Islamic State of Afghanistan,AF,Afghan afghani,Fiscal year end: March 20; reporting period fo...,South Asia,Low income,AF,...,General Data Dissemination System (GDDS),1979,"Multiple Indicator Cluster Survey (MICS), 2010/11","Integrated household survey (IHS), 2008",NaN,2013/14,NaN,2012.0,2000,NaN
2,AGO,Angola,Angola,People's Republic of Angola,AO,Angolan kwanza,"April 2013 database update: Based on IMF data,...",Sub-Saharan Africa,Upper middle income,AO,...,General Data Dissemination System (GDDS),1970,"Malaria Indicator Survey (MIS), 2011","Integrated household survey (IHS), 2008",NaN,2015,NaN,NaN,2005,NaN
3,ALB,Albania,Albania,Republic of Albania,AL,Albanian lek,NaN,Europe & Central Asia,Upper middle income,AL,...,General Data Dissemination System (GDDS),2011,"Demographic and Health Survey (DHS), 2008/09",Living Standards Measurement Study Survey (LSM...,Yes,2012,2010.0,2012.0,2006,NaN
4,AND,Andorra,Andorra,Principality of Andorra,AD,Euro,NaN,Europe & Central Asia,High income: nonOECD,AD,...,NaN,2011. Population figures compiled from adminis...,NaN,NaN,Yes,NaN,NaN,2006.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
236,XKX,Kosovo,Kosovo,Republic of Kosovo,NaN,Euro,"Kosovo became a World Bank member on June 29, ...",Europe & Central Asia,Lower middle income,KV,...,General Data Dissemination System (GDDS),2011,NaN,"Integrated household survey (IHS), 2011",NaN,NaN,NaN,NaN,NaN,NaN
237,YEM,Yemen,"Yemen, Rep.",Republic of Yemen,YE,Yemeni rial,Based on official government statistics and In...,Middle East & North Africa,Lower middle income,RY,...,General Data Dissemination System (GDDS),2004,"Demographic and Health Survey (DHS), 2013","Expenditure survey/budget survey (ES/BS), 2005",NaN,NaN,2006.0,2012.0,2005,NaN
238,ZAF,South Africa,South Africa,Republic of South Africa,ZA,South African rand,Fiscal year end: March 31; reporting period fo...,Sub-Saharan Africa,Upper middle income,ZA,...,Special Data Dissemination Standard (SDDS),2011,"Demographic and Health Survey (DHS), 2003; Wor...","Expenditure survey/budget survey (ES/BS), 2010",NaN,2007,2010.0,2012.0,2000,NaN
239,ZMB,Zambia,Zambia,Republic of Zambia,ZM,New Zambian kwacha,National accounts data have rebased to reflect...,Sub-Saharan Africa,Lower middle income,ZM,...,General Data Dissemination System (GDDS),2010,"Demographic and Health Survey (DHS), 2013","Integrated household survey (IHS), 2010",NaN,2010. Population and Housing Census.,NaN,2011.0,2002,NaN
240,ZWE,Zimbabwe,Zimbabwe,Republic of Zimbabwe,ZW,U.S. dollar,Fiscal year end: June 30; reporting period for...,Sub-Saharan Africa,Low income,ZW,...,General Data Dissemination System (GDDS),2012,"Demographic and Health Survey (DHS), 2010/11","Integrated household survey (IHS), 2011/12",NaN,NaN,NaN,2012.0,2002,NaN

In [151]:
# Pandas describe() is used to view some basic statistical details like percentile, mean, std etc. of a data frame or a series of numeric values
df_country.describe()

,National accounts reference year,Latest industrial data,Latest trade data,Unnamed: 31
count,32.00000,107.000000,185.000000,0.0
mean,2001.53125,2008.102804,2010.994595,NaN
std,5.24856,2.616834,2.569675,NaN
min,1987.00000,2000.000000,1995.000000,NaN
25%,1996.75000,2007.500000,2011.000000,NaN
50%,2002.00000,2009.000000,2012.000000,NaN
75%,2005.00000,2010.000000,2012.000000,NaN
max,2012.00000,2010.000000,2012.000000,NaN

In [152]:
### Finding the null values

In [153]:
df_country.isnull().sum()

Country Code                                           0
Short Name                                             0
Table Name                                             0
Long Name                                              0
2-alpha code                                           3
Currency Unit                                         26
Special Notes                                         96
Region                                                27
Income Group                                          27
WB-2 code                                              1
National accounts base year                           36
National accounts reference year                     209
SNA price valuation                                   44
Lending category                                      97
Other groups                                         183
System of National Accounts                           26
Alternative conversion factor                        194
PPP survey year                                       96
Balance of Payments Manual in use                     60
External debt Reporting status                       117
System of trade                                       41
Government Accounting concept                         80
IMF data dissemination standard                       60
Latest population census                              28
Latest household survey                              100
Source of most recent Income and expenditure data     81
Vital registration complete                          130
Latest agricultural census                            99
Latest industrial data                               134
Latest trade data                                     56
Latest water withdrawal data                          62
Unnamed: 31                                          241
dtype: int64

In [154]:
df_country.shape

(241, 32)

In [155]:
#  drop_duplicates() method helps in removing duplicates from the data frame.
df_country.drop_duplicates()
df_country.shape

(241, 32)

In [156]:
# info() - gives you more information about the data set.

# And the name of each column, with the data type
df_country.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 241 entries, 0 to 240
Data columns (total 32 columns):
 #   Column                                             Non-Null Count  Dtype
---  ------                                             --------------  -----
 0   Country Code                                       241 non-null    object
 1   Short Name                                         241 non-null    object
 2   Table Name                                         241 non-null    object
 3   Long Name                                          241 non-null    object
 4   2-alpha code                                       238 non-null    object
 5   Currency Unit                                      215 non-null    object
 6   Special Notes                                      145 non-null    object
 7   Region                                             214 non-null    object
 8   Income Group                                       214 non-null    object
 9   WB-2 code                                          240 non-null    object
 10  National accounts base year                        205 non-null    object
 11  National accounts reference year                   32 non-null     float64
 12  SNA price valuation                                197 non-null    object
 13  Lending category                                   144 non-null    object
 14  Other groups                                       58 non-null     object
 15  System of National Accounts                        215 non-null    object
 16  Alternative conversion factor                      47 non-null     object
 17  PPP survey year                                    145 non-null    object
 18  Balance of Payments Manual in use                  181 non-null    object
 19  External debt Reporting status                     124 non-null    object
 20  System of trade                                    200 non-null    object
 21  Government Accounting concept                      161 non-null    object
 22  IMF data dissemination standard                    181 non-null    object
 23  Latest population census                           213 non-null    object
 24  Latest household survey                            141 non-null    object
 25  Source of most recent Income and expenditure data  160 non-null    object
 26  Vital registration complete                        111 non-null    object
 27  Latest agricultural census                         142 non-null    object
 28  Latest industrial data                             107 non-null    float64
 29  Latest trade data                                  185 non-null    float64
 30  Latest water withdrawal data                       179 non-null    object
 31  Unnamed: 31                                        0 non-null      float64
dtypes: float64(4), object(28)
memory usage: 34.0+ KB

In [157]:
### Drop un-necessary columns

In [158]:
df_country.drop(['National accounts reference year', 'Other groups', 'Alternative conversion factor', 'External debt Reporting status', 'Latest household survey', 'Vital registration complete', 'Latest industrial data', 'Unnamed: 31', 'Special Notes', 'Lending category', 'PPP survey year', 'Latest agricultural census'], axis=1, inplace=True)
df_country.head()

,Country Code,Short Name,Table Name,Long Name,2-alpha code,Currency Unit,Region,Income Group,WB-2 code,National accounts base year,SNA price valuation,System of National Accounts,Balance of Payments Manual in use,System of trade,Government Accounting concept,IMF data dissemination standard,Latest population census,Source of most recent Income and expenditure data,Latest trade data,Latest water withdrawal data
0,ABW,Aruba,Aruba,Aruba,AW,Aruban florin,Latin America & Caribbean,High income: nonOECD,AW,2000,Value added at basic prices (VAB),Country uses the 1993 System of National Accou...,"IMF Balance of Payments Manual, 6th edition.",Special trade system,NaN,NaN,2010,NaN,2012.0,NaN
1,AFG,Afghanistan,Afghanistan,Islamic State of Afghanistan,AF,Afghan afghani,South Asia,Low income,AF,2002/03,Value added at basic prices (VAB),Country uses the 1993 System of National Accou...,NaN,General trade system,Consolidated central government,General Data Dissemination System (GDDS),1979,"Integrated household survey (IHS), 2008",2012.0,2000
2,AGO,Angola,Angola,People's Republic of Angola,AO,Angolan kwanza,Sub-Saharan Africa,Upper middle income,AO,2002,Value added at producer prices (VAP),Country uses the 1993 System of National Accou...,"IMF Balance of Payments Manual, 6th edition.",Special trade system,Budgetary central government,General Data Dissemination System (GDDS),1970,"Integrated household survey (IHS), 2008",NaN,2005
3,ALB,Albania,Albania,Republic of Albania,AL,Albanian lek,Europe & Central Asia,Upper middle income,AL,Original chained constant price data are resca...,Value added at basic prices (VAB),Country uses the 1993 System of National Accou...,"IMF Balance of Payments Manual, 6th edition.",General trade system,Budgetary central government,General Data Dissemination System (GDDS),2011,Living Standards Measurement Study Survey (LSM...,2012.0,2006
4,AND,Andorra,Andorra,Principality of Andorra,AD,Euro,Europe & Central Asia,High income: nonOECD,AD,1990,NaN,Country uses the 1968 System of National Accou...,NaN,Special trade system,NaN,NaN,2011. Population figures compiled from adminis...,NaN,2006.0,NaN

In [159]:
df_country.dropna(inplace=True)

In [160]:
df_country.shape

(126, 20)

In [161]:
df_country.columns

Index(['Country Code', 'Short Name', 'Table Name', 'Long Name', '2-alpha code',
       'Currency Unit', 'Region', 'Income Group', 'WB-2 code',
       'National accounts base year', 'SNA price valuation',
       'System of National Accounts', 'Balance of Payments Manual in use',
       'System of trade', 'Government Accounting concept',
       'IMF data dissemination standard', 'Latest population census',
       'Source of most recent Income and expenditure data',
       'Latest trade data', 'Latest water withdrawal data'],
      dtype='object')

In [162]:
# info() - gives you more information about the data set.

# And the name of each column, with the data type
df_country.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 126 entries, 3 to 240
Data columns (total 20 columns):
 #   Column                                             Non-Null Count  Dtype
---  ------                                             --------------  -----
 0   Country Code                                       126 non-null    object
 1   Short Name                                         126 non-null    object
 2   Table Name                                         126 non-null    object
 3   Long Name                                          126 non-null    object
 4   2-alpha code                                       126 non-null    object
 5   Currency Unit                                      126 non-null    object
 6   Region                                             126 non-null    object
 7   Income Group                                       126 non-null    object
 8   WB-2 code                                          126 non-null    object
 9   National accounts base year                        126 non-null    object
 10  SNA price valuation                                126 non-null    object
 11  System of National Accounts                        126 non-null    object
 12  Balance of Payments Manual in use                  126 non-null    object
 13  System of trade                                    126 non-null    object
 14  Government Accounting concept                      126 non-null    object
 15  IMF data dissemination standard                    126 non-null    object
 16  Latest population census                           126 non-null    object
 17  Source of most recent Income and expenditure data  126 non-null    object
 18  Latest trade data                                  126 non-null    float64
 19  Latest water withdrawal data                       126 non-null    object
dtypes: float64(1), object(19)
memory usage: 11.3+ KB

In [163]:
## Reading EdStatsCountry-Series.csv file

In [164]:
df_country_series = pd.read_csv(r"C:/Users/Himanshu Gulati/HG Program Data/Data Camp/EDA/edstats-csv-zip-32-mb-/EdStatsCountry-Series.csv")
df_country_series

,CountryCode,SeriesCode,DESCRIPTION,Unnamed: 3
0,ABW,SP.POP.TOTL,Data sources : United Nations World Population...,NaN
1,ABW,SP.POP.GROW,Data sources: United Nations World Population ...,NaN
2,AFG,SP.POP.GROW,Data sources: United Nations World Population ...,NaN
3,AFG,NY.GDP.PCAP.PP.CD,Estimates are based on regression.,NaN
4,AFG,SP.POP.TOTL,Data sources : United Nations World Population...,NaN
...,...,...,...,...
608,ZAF,SP.POP.GROW,"Data sources : Statistics South Africa, United...",NaN
609,ZMB,SP.POP.GROW,Data sources: United Nations World Population ...,NaN
610,ZMB,SP.POP.TOTL,Data sources : United Nations World Population...,NaN
611,ZWE,SP.POP.TOTL,Data sources : United Nations World Population...,NaN
612,ZWE,SP.POP.GROW,Data sources: United Nations World Population ...,NaN

In [165]:
df_country_series.shape

(613, 4)

In [166]:
# info() - gives you more information about the data set.

# And the name of each column, with the data type
df_country_series.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 613 entries, 0 to 612
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   CountryCode  613 non-null    object
 1   SeriesCode   613 non-null    object
 2   DESCRIPTION  613 non-null    object
 3   Unnamed: 3   0 non-null      float64
dtypes: float64(1), object(3)
memory usage: 12.0+ KB

In [167]:
df_country_series.isnull().sum()

CountryCode      0
SeriesCode       0
DESCRIPTION      0
Unnamed: 3     613
dtype: int64

In [168]:
#  drop_duplicates() method helps in removing duplicates from the data frame.
df_country.drop_duplicates()
df_country_series.shape

(613, 4)

In [169]:
### Drop un-necessary columns

In [170]:
df_country_series.drop('Unnamed: 3', axis=1, inplace=True)
df_country_series.head()

,CountryCode,SeriesCode,DESCRIPTION
0,ABW,SP.POP.TOTL,Data sources : United Nations World Population...
1,ABW,SP.POP.GROW,Data sources: United Nations World Population ...
2,AFG,SP.POP.GROW,Data sources: United Nations World Population ...
3,AFG,NY.GDP.PCAP.PP.CD,Estimates are based on regression.
4,AFG,SP.POP.TOTL,Data sources : United Nations World Population...

In [171]:
df_country_series.dropna(inplace=True)

In [172]:
df_country_series.shape

(613, 3)

In [173]:
## Reading EdStatsFootNote.csv file

In [174]:
df_foot_note = pd.read_csv(r"C:/Users/Himanshu Gulati/HG Program Data/Data Camp/EDA/edstats-csv-zip-32-mb-/EdStatsFootNote.csv")
df_foot_note

,CountryCode,SeriesCode,Year,DESCRIPTION,Unnamed: 4
0,ABW,SE.PRE.ENRL.FE,YR2001,Country estimation.,NaN
1,ABW,SE.TER.TCHR.FE,YR2005,Country estimation.,NaN
2,ABW,SE.PRE.TCHR.FE,YR2000,Country estimation.,NaN
3,ABW,SE.SEC.ENRL.GC,YR2004,Country estimation.,NaN
4,ABW,SE.PRE.TCHR,YR2006,Country estimation.,NaN
...,...,...,...,...,...
643633,ZWE,SH.DYN.MORT,YR2007,Uncertainty bound is 91.6 - 109.3,NaN
643634,ZWE,SH.DYN.MORT,YR2014,Uncertainty bound is 54.3 - 76,NaN
643635,ZWE,SH.DYN.MORT,YR2015,Uncertainty bound is 48.3 - 73.3,NaN
643636,ZWE,SH.DYN.MORT,YR2017,5-year average value between 0s and 5s,NaN
643637,ZWE,SP.POP.GROW,YR2017,5-year average value between 0s and 5s,NaN

In [175]:
# info() - gives you more information about the data set.

# And the name of each column, with the data type

df_foot_note.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 643638 entries, 0 to 643637
Data columns (total 5 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   CountryCode  643638 non-null  object
 1   SeriesCode   643638 non-null  object
 2   Year         643638 non-null  object
 3   DESCRIPTION  643638 non-null  object
 4   Unnamed: 4   0 non-null       float64
dtypes: float64(1), object(4)
memory usage: 14.7+ MB

In [176]:
# DataFrame stores the number of rows and columns as a tuple (number of rows, number of columns)

df_foot_note.shape

(643638, 5)

In [177]:
### Drop un-necessary columns

In [178]:
df_foot_note.drop('Unnamed: 4', axis=1, inplace=True)

# The head() method returns the headers and a specified number of rows, starting from the top.
df_foot_note.head()

  CountryCode      SeriesCode    Year          DESCRIPTION
0         ABW  SE.PRE.ENRL.FE  YR2001  Country estimation.
1         ABW  SE.TER.TCHR.FE  YR2005  Country estimation.
2         ABW  SE.PRE.TCHR.FE  YR2000  Country estimation.
3         ABW  SE.SEC.ENRL.GC  YR2004  Country estimation.
4         ABW     SE.PRE.TCHR  YR2006  Country estimation.

In [179]:
df_foot_note.dropna(inplace=True)

In [180]:
df_foot_note.shape

(643638, 4)

In [181]:
# Doing EDA with help of Pandas profiling

In [182]:
import pandas as pd
from pandas_profiling import ProfileReport
df =  pd.read_csv('C:/Users/Himanshu Gulati/HG Program Data/Data Camp/EDA/edstats-csv-zip-32-mb-/EdStatsCountry.csv')
profile = ProfileReport(df)
profile.to_file(output_file="C:/Users/Himanshu Gulati/HG Program Data/Data Camp/EDA/EDA_via_profling/EDStatsCountry_eda.html")

Summarize dataset:   0%|          | 0/45 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]